.container {
    margin: 0%;
    padding: 0%;
}

Row {
    padding: 0%;
}

.icon {
    width: 50px;
    box-shadow: 1px 1px 10px #888888;
    position: absolute;
    bottom: -8px;
}

.username {
    font-size: 10px;
}

.title {
    font-size: 20px;
}

.attr {
    font-size: 14px;
    padding: 0%;
}

.right {
    float: right;
}

.section {
    padding-top: 4px;
}

.floatButtonGroup {
    position: absolute;
    right: 10px;
    top: 60px;
}

.floatButton {
    margin: 5px;
    width: 70px;
}
