@import "../../1-settings/variables.scss";


.c-nav__tab-primary {
    float: left;
    text-align: center;
    border-width: 5px solid $nav-tabs-bg-color;
    margin: 2px 2px 2px 2px;
    outline-width: 2px solid;
    outline-color: $nav-tabs-bg-color;
    height: 45px;
    width: calc(25% - 4px); //78px plus margin?
    color: $nav-tabs-link-color;
    background: $nav-tabs-bg-color;
    box-sizing: border-box;
    font-size: $nav-tabs-link-font-size;
    font-weight: $nav-tabs-link-font-weight;
    line-height: $nav-tabs-link-line-height;
    text-align: center;
}

.c-nav__tab-primary:active {
    border-bottom-width: $nav-tabs-border-bottom-width; // is this necessary when I already have full borders set at the same #? //
    border-bottom-color: $nav-tabs-active-primary-color;
}

.c-nav__tab-primary:hover {
    outline-color: $nav-tabs-hover-primary-color;
    border-color: $nav-tabs-hover-primary-color;
    background-color: $nav-tabs-hover-primary-color;
}

.c-nav__tab-primary:focus {
    outline-color: $nav-tabs-focus-primary-color;
}
