
.grid_container {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: repeat(100, 33%);
    grid-column-gap: 2%;
    grid-row-gap: 74px;
}

.grid_cols {
    border: 1px solid grey;
    background: #D8D8D8;
    border-radius: 4px;
    text-align: center;
    min-height: 120%;
    height: 400%;
    /*margin-top: -2%;*/

}

.user_media {
    padding-left: 10px;
    margin-top: 58px;
    background: #D8D8D8;
    text-align: left;
    font-family: "Times New Roman";
    font-size: large;
    border: 1px gray;

}

.glyphicon-plus {
    font-size: -webkit-xxx-large;
}