
.grid_container {
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    /*grid-template-rows: repeat(100, 10%);*/
    grid-column-gap: 6px;
    grid-row-gap: 60px;
}

.grid_cols {
    border: 1px solid grey;
    background: #D8D8D8;
    border-radius: 4px;
    text-align: center;
    height: 120px;

}

.user_media {
    padding-left: 10px;
    margin-top: 58px;
    background: #D8D8D8;
    text-align: left;
    font-family: "Times New Roman";
    font-size: large;
    border: 1px gray;

}

.glyphicon-plus {
    padding-top: 25px;
    font-size: -webkit-xxx-large;
}

.svg-inline--fa.fa-w-16 {
    width: 180% !important;
}
.row {
    /* margin-right: -15px; */
    /* margin-left: -15px; */
margin-left: 0px !important;
margin-right: 0px !important;
}