@import "../../1-settings/variables.scss";


// bootstrap calls inputs 'form-control'. for ourpurposes 'inputs' will live inside of 'form' components

.c-input {
  background: $input-bg;
  border: $border-width solid $border-color;
  box-sizing: border-box;
  box-shadow: $input-box-shadow;
  text-align: left;
  color: $input-color;
}

// for rounded inputs around the platform
.c-input--rounded {
    padding-left: $input-padding-x-base;
    padding-right: $input-padding-x-base;
    padding-top: $input-padding-y-base;
    padding-bottom: $input-padding-y-base;
    font-size: $input-font-size-base;
    font-weight: $input-font-weight-base;
    line-height: $input-line-height-base;
    border-radius: $input-border-radius-base;
}

// for squared-off inputs - usually 'settings pages', the 'long-form description' box on the 'create/edit listing' page, and the 'add gender' selection during registration
.c-input--squared-sm {
    padding-left: $input-padding-x-sm;
    padding-right: $input-padding-x-sm;
    padding-top: $input-padding-y-sm;
    padding-bottom: $input-padding-y-sm;
    font-size: $input-font-size-sm;
    font-weight: $input-font-weight-sm;
    line-height: $input-line-height-sm;
    border-radius: $input-border-radius-sm;
}

// for registration sequence where inputs are a little larger

.c-input--squared-lg {
    padding-left: $input-padding-x-lg;
    padding-right: $input-padding-x-lg;
    padding-top: $input-padding-y-lg;
    padding-bottom: $input-padding-y-lg;
    font-size: $input-font-size-lg;
    font-weight: $input-font-weight-lg;
    line-height: $input-line-height-lg;
    border-radius: $input-border-radius-lg; 
}

.c-input:disabled {
    background: $input-disabled-bg;
}

.c-input:focus {
    background: $input-focus-bg;
    color: $input-focus-color;
    border-color: $input-focus-border-color;
    border-width: $input-focus-width;
    box-shadow: $input-focus-box-shadow;
}

.c-input:hover {
    background: $input-hover-bg;
}

.c-input::placeholder {
    color: $input-placeholder-color;
    font-size: $input-placeholder-font-size;
    font-weight: $input-placeholder-font-weight;
}
