@import '../../1-settings/variables';

.c-header__user-name {
    border: $border-width transparent;
    color: $color-white;
    line-height: $headings-line-height;
    font-weight: $font-weight-light;
    text-align: left;
    font-size: $h4-font-size;
    float: left;
}

.c-header__user-name:hover {
    color: $header-hover-color;
    text-decoration: underline;
}

.c-header_user-name:focus {
    border-color: $header-focus-color;
    border-width: $header-focus-width;
}