@import "../../1-settings/variables.scss";

// This is basically a big pull and slight rename right from bootstrap with a few items omitted

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.c-form-group {
  margin-bottom: $form-group-margin-bottom;
}
  
.c-form-text {
  display: block;
  margin-top: $form-text-margin-top;
}
  
  
// Form grid
//
// Special replacement for our grid system's `.row` for tighter form layouts.
  
.c-form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$form-grid-gutter-width / 2;
  margin-left: -$form-grid-gutter-width / 2;
  
  > .col,
  > [class*="col-"] {
    padding-right: $form-grid-gutter-width / 2;
    padding-left: $form-grid-gutter-width / 2;
  }
}
  
  
// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.
  
.c-form-check {
  position: relative;
  display: block;
  padding-left: $form-check-input-gutter;
}
  
.c-form-check__radio {
  position: absolute;
  margin-top: $form-check-input-margin-y;
  margin-left: -$form-check-input-gutter;
  
  &:disabled ~ .c-form-check__label {
    color: $text-muted;
  }
}

.c-form-check__toggle {
  position: absolute;
  margin-top: $form-check-input-margin-y;
  margin-right: -$form-check-input-gutter;
  float: right;
  
  &:disabled ~ .c-form-check__label {
      color: $text-muted;
  }
}

.c-form-check__label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}
 
// Form validation
//
// Provide feedback to users when form field values are valid or invalid. Works
// primarily for client-side validation via scoped `:invalid` and `:valid`
// pseudo-classes but also includes `.is-invalid` and `.is-valid` classes for
// server side validation.

@include form-validation-state("valid", $form-feedback-valid-color);
@include form-validation-state("invalid", $form-feedback-invalid-color);

  