.welcome{
  position: relative;
  min-height: 1px;
  padding:50px 20px 0px 20px;
  font-size: 30px;
  color:black;
  font-family:"Helvetica Neue";
}

.subtitle{
  position: relative;
  font-size: 17px;
  color:black;
  font-family:"Helvetica Neue";
  border:4px solid #beceeb; /*为了便于观察，显示出边框*/
  display:table-cell;
  padding: 0 60px 0 60px;
  align-items:center;

}

#parent{
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  /* padding-left: 50px;
  padding-right: 50px; */
  padding-bottom: 50px;
  width: 345px;
}

#child1{
  position: relative;
  width: 345px;
  padding: 10px 45px 20px 45px;
  margin: 0 0 0 0;
  border:4px solid #beceeb; /*为了便于观察，显示出边框*/
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
}

#child2{
  position: relative;
  width: 100%;
  padding: 10px 0px 10px 50px;
  margin: 0 0 0 0;
  /* border:4px solid #beceeb; /*为了便于观察，显示出边框*/ */
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
}

#child3{
  position: relative;
  width: 100%;
  padding: 10px 60px 20px 60px;
  margin: 0 0 0 0;
  /* border:4px solid #beceeb; /*为了便于观察，显示出边框*/ */
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
  font-size: 10px;
}

p{
    margin: 0 15px 0 15px;
}

#buttons{
  width: inherit;
  padding: 158px 40px 60px 0px;
  border:4px solid #beceeb; /*为了便于观察，显示出边框*/
}


.center {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.btncreate{
  width: 200px;
  font-size: 15px;
  color: #fff;
  background-color: #3E9378;
  border-color: #3E9378;
}

.btnlogin{
  width: 200px;
  font-size: 15px;
  color: #fff;
  background-color: #4C0C7E;
  border-color: #4C0C7E;

}
