.welcome{
  position: relative;
  min-height: 1px;
  padding:50px 20px 0px 20px;
  font-size: 30px;
  color:black;
  font-family:"Helvetica Neue";
  margin-top: 30px;
}

.subtitle{
  position: relative;
  font-size: 17px;
  color:black;
  font-family:"Helvetica Neue";
  display:table-cell;
  padding: 0 60px 0 60px;
  align-items:center;
  width: 345px;
  padding: 10px 45px 20px 45px;
  margin: 0 0 0 0;
  /* border:4px solid #beceeb; /*为了便于观察，显示出边框*/ */
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;

}

#parent{
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  /* padding-left: 50px;
  padding-right: 50px; */
  padding-bottom: 50px;
  width: 345px;
}

#child1{
  position: relative;
  width: 345px;
  padding: 10px 45px 20px 45px;
  margin: 0 0 0 0;
  border:4px solid #beceeb; /*为了便于观察，显示出边框*/
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
}

#child2{
  position: relative;
  width: 100%;
  padding: 10px 0px 20px 50px;
  margin: 0 0 0 0;
  /* border:4px solid #beceeb; /*为了便于观察，显示出边框*/ */
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
}

#child3{
  position: relative;
  width: 100%;
  padding: 10px 60px 20px 60px;
  margin: 0 0 0 0;
  /* border:4px solid #beceeb; /*为了便于观察，显示出边框*/ */
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
  font-size: 10px;
}

#child22{
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 55px;
}

p{
    margin: 0 15px 0 15px;
}

#buttons{
  width: inherit;
  padding: 158px 40px 60px 0px;
  border:4px solid #beceeb; /*为了便于观察，显示出边框*/
}


.center {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.generalbtn{
  height: 40px;
  width: 200px;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 7px;
}
.btncreate{

  color: #fff;
  background-color: #3E9378;
  border-color: #3E9378;
}

.btnlogin{

  color: #fff;
  background-color: #4C0C7E;
  border-color: #4C0C7E;

}

.btnfb{
  color: #fff;
  background-color: #4267B2;
  border-color: #4267B2;
}

.btngg{
  color: #fff;
  background-color: #4285F4;
  border-color: #4285F4;
}

.btnlk{
  color: #fff;
  background-color: #0077B5;
  border-color: #0077B5;
}



.form1{
  display: block;
  width: 210px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#formEmail{
  padding: 0 20px 0 8px;
  margin: 0 0 5px 0;
}

#or{
  position: relative;
  width: 100%;
  padding: 20px 0px 8px 0px;
  margin: 0 0 0 0;
  /* border:4px solid #beceeb; /*为了便于观察，显示出边框*/ */
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
}
